@page "/"
@inject HttpClient http
@using TodoList_blazor.Shared

@using Bogus;

@if (dos != null)
{
    <div class="form-group">
        <label>Tarefas</label>
        <input type="text" placeholder="nova tarea" @bind="newDo" />
        <button @onclick="AddDo" class="btn btn-secondary">Criar</button>
    </div>
}
<br />
<div class="progress" >
    <div class="progress-bar" role="progressbar" style="width:@Percentage()%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">@Percentage() %</div>
</div>
<br/>


@if(dos == null)
{
    <p>Carregando...</p>
}
else{

    @if (Percentage() != 100)
    {
        <h3>To do</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Concluída</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in dos.Where(item => !item.Completed))
                {
                    <tr>

                        <th scope="row">@item.DateOn</th>
                        <td>@item.Description</td>

                        <td><input type="checkbox" @bind="item.Completed" /> </td>
                        <td><button @onclick="@(()=> Remove(item.DoId))"><i class="oi oi-trash"></i></button></td>
                    </tr>

                }
            </tbody>
        </table>
    }
    @if (Percentage() != 0)
    {
        <h4>To do completed</h4>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Concluída</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in dos.Where(item => item.Completed))
                {
                    <tr>

                        <th scope="row">@item.DateOn</th>
                        <td>@item.Description</td>
                        <td><input type="checkbox" @bind="item.Completed" /></td>
                        <td><button @onclick="@(()=> Remove(item.DoId))"><i class="oi oi-trash"></i></button></td>
                    </tr>

                }
            </tbody>

        </table>
    }
}


@code {

    private string newDo = "";
    private const int V = 100;
    private List<Do> dos = new List<Do>();

    void AddDo()
    {
        if (!string.IsNullOrWhiteSpace(newDo))
        {
            dos.Add(new Do
                {
                    DateOn = DateTime.Now,
                    Description = newDo,
                    DoId = Guid.NewGuid()

                }
            );
            newDo = "";
        }
    }

    void Remove(Guid id)
    {
        dos.Remove(dos.First(x=> x.DoId == id));
    }


    int Percentage()
    {
        if (dos.Count == 0)
        {
            return 0;
        }
        else
        {
            double completedCount = dos.Count(item => item.Completed);
            double totalCount = dos.Count;
            double percentage = (completedCount / totalCount) * 100.0;
            return (int)percentage; 
        }
    }
}